<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-model</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="container">
      <div class="content">
        <input
          v-model="password"
          type="password"
          placeholder="請輸入密碼"
          v-on:keydown.enter="submit"
          v-bind:disabled="isLogin"
        />
        <button
          v-on:click="submit"
          v-bind:style="{'backgroundColor': isLogin ? '#ff5500' : '#222'}"
        >
          {{ isLogin? "登出系統" : "登入系統" }}
        </button>
      </div>

      <label v-if="isLogin" id="state">
        <span>系統已登入</span>
      </label>
    </div>
  </body>
  <script src="main.js"></script>
</html>
